@page "/categories"
@inject NavigationManager _navManager
@inject HttpClient _client
@inject IJSRuntime js

@using CategoryModel = ProductReviewAungAndBryant.Shared.Domain
@using ProductReviewAungAndBryant.Client.Static
<h3>Category</h3>

<a href="/categories/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    New Category
</a>
<br />

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CategoryName</th>
                <th>CategoryBrandName</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.CategoryBrandName</td>
                    <td>@category.CreatedBy</td>
                    <td>@category.UpdatedBy</td>
                    <td>
                        <a href="categories/view/@category.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="categories/edit/@category.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=> Delete(category.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<CategoryModel.Category> categories = new List<CategoryModel.Category>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // // Mock Data
            // CategoryModel.Category newCategory = new CategoryModel.Category();
            // newCategory.CategoryName = "Fun";
            // newCategory.CategoryBrandName = "Brand 1";
            // newCategory.CreatedBy = "Admin";
            // newCategory.UpdatedBy = "Admin";

            // categories.Add(newCategory);

            categories = await _client.GetFromJsonAsync<List<CategoryModel.Category>>($"{Endpoints.CategoriesEndpoint}/GetCategories");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task Delete(int id)
    {
        try
        {
            if (categories != null)
            {
                CategoryModel.Category category = categories.Where(w => w.Id == id).First();

                var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete category - {category.CategoryBrandName}?");
                if (confirm)
                {
                    await _client.DeleteAsync($"{Endpoints.CategoriesEndpoint}/DeleteCategory/{id}");
                    await OnInitializedAsync();
                }
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
